nav{
	position: absolute;
width: 1440px;
height: 160px;
left: 0px;
top: 0px;

background: #FFFFFF;
}

a{
text-decoration: none;
}
a:link,a:visited{
	color: #757575;
}
a:hover{
	color: #000;
}
#line1{
position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 160px;

border: 1px solid #EEF1F5;
}
#Home{
position: absolute;
width: 45px;
height: 21px;
left: 1001px;
top: 70px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;



color: #111827;
}
#Aboutme{
	position: absolute;
width: 75px;
height: 21px;
left: 1142px;
top: 70px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;


color: #9CA3AF;
}
#Work
{
	position: absolute;
width: 47px;
height: 21px;
left: 1313px;
top: 70px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;


color: #9CA3AF;
}
#first{
position: absolute;
width: 11px;
height: 13px;
left: 1035px;
top: 54px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
color: #111827;
}
#second{
position: absolute;
width: 13px;
height: 13px;
left: 1204px;
top: 54px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
color: #9CA3AF;

}
#third{
	position: absolute;
width: 13px;
height: 13px;
left: 1346px;
top: 54px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
color: #9CA3AF;

}
.line2{
	position: absolute;
width: 175px;
height: 21px;
left: 92px;
top: 858px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #111827;

transform: rotate(-90deg);
}
.line3{

position: absolute;
width: 84px;
height: 0px;
left: 104px;
top: 878px;

border: 3px solid #9CA3AF;
transform: rotate(90deg);
}
.line4{
	position: absolute;
width: 3384px;
height: 0px;
left: 80px;
top: 0px;

border: 1px solid #EEF1F5;
transform: rotate(90deg);
}
.myself{
	width: 450px;
	height: 500px;
	position: absolute;
	left: 624px;
	top: 259px;
	background: url(20200605_200452.jpg);

	z-index: 2;
}
#sign{
	position: absolute;
width: 162.54px;
height: 140.27px;
left: 1063px;
top: 327px;
z-index: 3;

border: 3px solid #111827;
}
#myself{
position: absolute;
width: 659.26px;
height: 800px;
left: 624px;
top: 199px;
display: hidden;
background: url(20200605_200452.jpg);}

.start{
	position: absolute;
width: 215px;
height: 24px;
left: 293px;
top: 327px;

font-family: Playfair Display;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;

letter-spacing: 0.02em;

color: #9CA3AF;
}
h1{
	z-index: 3;
	position: absolute;
width: 540px;
height: 85px;
left: 293px;
top: 351px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 85px;
letter-spacing: 0.02em;

color: #111827;

}
.start1{
	position: absolute;
width: 320px;
height: 23px;
left: 293px;
top: 460px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #9CA3AF;
}
.smth{
position: absolute;
width: 132px;
height: 26px;
left: 293px;
top: 511px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-decoration-line: underline;

color: #111827;
}

.smth1{
position: absolute;
width: 74px;
height: 26px;
left: 450px;
top: 511px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-decoration-line: underline;

color: #111827;
}

.under{
	position: absolute;
	background-color: black;
	height: 600px;
	border-color: .5px solid black;
	}
#bg1{
	z-index: 1;
	height: 600px;
	width: 1440px;
	top: 1070px;
	position: absolute;
}
.about{
	z-index: 2;
	position: absolute;
width: 96px;
height: 26px;
left: 80px;
top: 1148px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;

color: #fff;
}
.block1{
	z-index: 2;
	position: absolute;
width: 342px;
height: 90px;
left: 507px;
top: 1148px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.block2{
	z-index: 2;
	position: absolute;
width: 243px;
height: 30px;
left: 507px;
top: 1286px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.block3{
	z-index: 2;
	position: absolute;
width: 273px;
height: 60px;
left: 507px;
top: 1364px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.ber{position: absolute;
width: 311px;
height: 311px;
left: 1049px;
top: 1148px;
z-index: 2;
}
.bg{
	position: absolute;
width: 311px;
height: 311px;
left: 1032px;
top: 1163px;
z-index: 1;
background: #2D2D2D;
}
